

<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis voluptas iure eaque officia repudiandae placeat ea magni sequi voluptate nemo earum tempore modi, quia consequuntur eveniet sunt dolore dicta.
    Enim maxime eum laudantium minima nesciunt. Odio fuga eos ad! Nobis dignissimos reiciendis sit ex reprehenderit possimus ipsam consequuntur omnis amet quidem distinctio officiis laborum qui, eveniet unde! Omnis, dolore?
    Provident assumenda, tempore dicta ea sit placeat similique fuga unde debitis error excepturi iusto possimus maiores facilis earum vero architecto consectetur ut asperiores perspiciatis quo molestiae ullam vitae hic? Non?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem rerum doloribus adipisci quasi inventore, doloremque dolorum tenetur aliquid. Error eveniet impedit fugiat minima quas reprehenderit adipisci tenetur soluta perspiciatis sunt.</p>
    <a href="https://www.github.com/cmachado17" class="btn btn-primary">Ir a ver</a>
</div>

